#navigation {
	padding: 30px 0 0 0;
}

.grey-box {
	background-color: #e5e5e5;
	padding: 15px 20px;
	margin-bottom: 10px;
	border: 2px solid grey;
}

hr.style {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.attributes {
	display: none;
}

label {
	font-size: 20px;
}

@media only screen and (max-width: 776px) {
    .prod-list {
        text-align: center !important;
    }
}